body {
    background-color: #faf6ed;
}

.announcement-card {
    background: #fffbe9;
    max-width: 700px;
    width: 100%;
    border-radius: 12px;
}

.announcement-icon {
    font-size: 2rem;
    color: #e3b766;
}

.announcement-text {
    font-size: 1.15rem;
    color: #333333;
}
