@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

li {
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}


.wrapper {
    display: flex;
    height: 100vh;
}


#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    background-color: #043826;
    transition: all .35s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i {
    font-size: 1.5rem;
    color: #fff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}
